<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  <li id="a11y-new-window-message">{{ 'general.accessibility.link_messages.new_window' | t }}</li>
  <li id="a11y-external-message">{{ 'general.accessibility.link_messages.external' | t }}</li>
  <li id="a11y-new-window-external-message">{{ 'general.accessibility.link_messages.new_window_and_external' | t }}</li>
</ul>
