<ul class="nav justify-content-center align-items-center tw-flex-wrap">
    {% for link in links %}
    <li class="nav-item{% if link.levels > 0 %} has-dropdown{% endif %} d-block">
        <a class="nav-link level-1 position-relative  pl-3 font-600 {% if link.active or link.child_active %} nav-link-current {% endif %} {% if enable_sticky %}pt-0 pb-3 tw-bg-sticky-nav-arrow{% else %}py-3{% endif %}"
            href="{{ link.url }}" {% if link.levels> 0 %} aria-expanded="false" aria-controls="SiteNavLabel-{{
            link.title | handle }}" data-a11y-dropdown{% endif %}>
            {{ link.title }}
        </a>
        {% if link.levels > 0 %}
        <div id="SiteNavLabel-{{ link.title | handle }}" class="nav-dropdown position-absolute w-100 py-3 tw-border-t critical-hidden tw-shadow-lg">
            <div class="container">
                <div class="row">
                    {%- if section.settings.menu_style == 'menu-mega' -%}
                    {%- assign menu_class = 'col-8 py-3' -%}
                    {%- else -%}
                    {%- assign menu_class = 'col-12' -%}
                    {%- endif -%}
                    <div class="{{ menu_class }}">
                        <ul class="nav row mb-n3">
                            {% for child_link in link.links %}
                            <li class="nav-item col-4 pb-3">
                                <a class="nav-link level-2 d-block p-0 font-7 font-600" href="{{ child_link.url }}">
                                    {{ child_link.title }}
                                </a>
                                {% if link.levels > 0 %}
                                <ul class="nav flex-column mt-2">
                                    {% for grandchild_link in child_link.links %}
                                    <li class="nav-item">
                                        <a class="nav-link level-3 px-0 font-7" href="{{ grandchild_link.url }}">
                                            {{ grandchild_link.title }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {%- if section.settings.menu_style == 'menu-mega' -%}
                    <div class="col-4 py-3 d-flex align-items-start">
                        {% capture featured_product_increment %}{% cycle 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 %}{% endcapture
                        %}
                        {% assign mobile_offset = featured_product_increment %}
                        {% assign featured_product_id = 'featured_product_' | append: featured_product_increment %}
                        {% assign featured_product = all_products[section.settings[featured_product_id]] %}
                        {% if featured_product == blank %}
                        {% assign featured_product = collections.all.products[featured_product_increment] %}
                        {% endif %}
                        <a class="nav-product d-flex align-items-center w-100 p-3 rounded"
                            href="{{ featured_product.url }}">
                            {%- assign img_url = featured_product.featured_media | img_url: '1x1' | replace: '_1x1.',
                            '_{width}x.' -%}
                            <div class="tw-w-28 tw-flex-shrink-0 border rounded bg-white"
                                data-image-loading-placeholder>
                                <img class="lazyload" data-src="{{ img_url }}" data-widths="[180, 360, 540]"
                                    data-aspectratio="{{ featured_product.featured_media.aspect_ratio }}"
                                    data-sizes="auto" data-parent-fit="contain"
                                    width="{{ featured_product.featured_media.width }}"
                                    height="{{ featured_product.featured_media.height }}"
                                    alt="{{ featured_product.featured_media.alt }}" />
                                {% render 'noscript', tag: 'img', media: featured_product.featured_media, size: '100x'
                                %}
                            </div>
                            <div class="pl-3 pr-0">
                                <div class="font-7 font-600 text-primary">{{ 'general.header.featured_product' | t }}
                                </div>
                                <div class="mt-1 font-600 text-dark">{{ featured_product.title }}</div>
                            </div>
                        </a>
                    </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>