{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

<div class="container">
  <h1 class="tw-my-6 md:tw-my-10 tw-text-3xl md:tw-text-5xl tw-text-center">{{ 'customer.account.title' | t }}</h1>
  <p class="tw-text-center"><a href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a></p>

  <div class="md:tw-flex md:tw-space-x-4">
    <div class="order md:tw-w-3/4">

      <h2 class="tw-my-6 tw-text-xl md:tw-text-3xl">{{ 'customer.order.title' | t: name: order.name }}</h2>
      {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
      <p class="tw-mb-5">{{ 'customer.order.date_html' | t: date: order_date }}</p>


      {% if order.cancelled %}
        {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
        <p class="tw-mb-4">{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
        <p class="tw-mb-4">{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
      {% endif %}

      <div class="tw-scrollable-wrapper">
        <table class="responsive-table tw-w-full tw-bg-white tw-rounded-table">
          <thead class="tw-hidden md:tw-table-header-group">
            <tr>
              <th class="tw-py-2 tw-px-3 md:tw-border-gray-300">{{ 'customer.order.product' | t }}</th>
              <th class="tw-py-2 tw-px-3 md:tw-border-gray-300">{{ 'customer.order.sku' | t }}</th>
              <th class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right">{{ 'customer.order.price' | t }}</th>
              <th class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right">{{ 'customer.order.quantity' | t }}</th>
              <th class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right">{{ 'customer.order.total' | t }}</th>
            </tr>
          </thead>
          <tbody class="tw-bg-body">
            {% for line_item in order.line_items %}
              <tr id="{{ line_item.key }}" class="responsive-table-row tw-border-gray-300 tw-rounded tw-bg-white">
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-rounded-none" data-label="{{ 'customer.order.product' | t }}">
                  <div>
                    {{ line_item.title | link_to: line_item.product.url | replace: '<a', '<a class="tw-underline"' }}
                    {%- assign property_size = line_item.properties | size -%}

                    <div class="item-props">
                      {% unless line_item.selling_plan_allocation == nil and property_size == 0 %}
                        <div class="item-props">
                          {% unless line_item.selling_plan_allocation == nil  %}
                            <span class="item-props__property">
                              {{ line_item.selling_plan_allocation.selling_plan.name }}
                            </span>
                          {% endunless %}
                          {% if property_size != 0 %}
                            {% for property in line_item.properties %}
                              {% assign property_first_char = property.first | slice: 0 %}
                              {% if property.last != blank and property_first_char != '_' %}
                                <span class="item-props__property">
                                  {{ property.first }}:&nbsp;
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </span>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                      {% endunless %}
                    </div>

                    {%- if line_item.line_level_discount_allocations != blank -%}
                      <ul class="order-discount order-discount--list order-discount--title" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                          <li class="order-discount__item">{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>

                  {% if line_item.fulfillment %}
                    <div class="tw-border tw-rounded tw-m-2 tw-p-2">
                    {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                    <div class="tw-text-left">
                      <p>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</p>
                      {%- if line_item.fulfillment.tracking_url -%}
                        <a href="{{ line_item.fulfillment.tracking_url }} tw-underline">
                          {{ 'customer.order.track_shipment' | t }}
                        </a>
                      {%- endif -%}
                      <div>
                        {{ line_item.fulfillment.tracking_company }}
                        {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </td>
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300" data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right" data-label="{{ 'customer.order.price' | t }}">
                  <dl>
                    {%- if line_item.original_price != line_item.final_price -%}
                      <dt>
                        <span class="sr-only">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      <dd>
                        <s>{{ line_item.original_price | money }}</s>
                      </dd>
                      <dt>
                        <span class="sr-only">{{ 'products.product.sale_price' | t }}</span>
                      </dt>
                      <dd>
                        <span class="order-discount">{{ line_item.final_price | money }}</span>
                      </dd>
                    {%- else -%}
                      <dt>
                        <span class="sr-only">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      <dd>
                        {{ line_item.original_price | money }}
                      </dd>
                    {%- endif -%}

                    {% if line_item.unit_price_measurement %}
                      {% render 'unit-pricing', current_variant: line_item, price_class: 'tw-font-normal tw-text-sm', dl: true %}
                    {% endif %}
                  </dl>
                </td>
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right tw-rounded-none" data-label="{{ 'customer.order.total' | t }}">
                   {%- if line_item.original_line_price != line_item.final_line_price -%}
                    <dl>
                      <dt>
                        <span class="sr-only">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      <dd>
                        <s>{{ line_item.original_line_price | money }}</s>
                      </dd>
                      <dt>
                        <span class="sr-only">{{ 'products.product.sale_price' | t }}</span>
                      </dt>
                      <dd>
                        <span class="order-discount">{{ line_item.final_line_price | money }}</span>
                      </dd>
                    </dl>
                  {%- else -%}
                    {{ line_item.original_line_price | money }}
                  {%- endif -%}
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot class="tw-bg-body tw-rounded-table-mobile-reset">
            <tr class="responsive-table-row tw-border-gray-300 tw-rounded-t tw-bg-white">
              <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-hidden md:tw-table-cell" colspan="4">{{ 'customer.order.subtotal' | t }}</td>
              <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
            </tr>

            {%- if order.cart_level_discount_applications != blank -%}
              <tr class="responsive-table-row  tw-border-t-0 tw-border-gray-300 tw-bg-white">
                {%- for discount_application in order.cart_level_discount_applications -%}
                  <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-hidden md:tw-table-cell" colspan="4">
                    {{ 'customer.order.discount' | t }}
                    <span class="order-discount order-discount--title">
                      {{- discount_application.title -}}
                    </span>
                  </td>
                  <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right" data-label="{{ 'customer.order.discount' | t }}  {{- discount_application.title -}}">
                    <div class="order-discount-wrapper">
                      <span class="order-discount"> -{{ discount_application.total_allocated_amount | money }}</span>
                    </div>
                  </td>
                {%- endfor -%}
              </tr>
            {%- endif -%}

            {% for shipping_method in order.shipping_methods %}
              <tr class="responsive-table-row  tw-border-t-0 tw-border-gray-300 tw-bg-white">
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-hidden md:tw-table-cell" colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
              </tr>
            {% endfor %}

            {% for tax_line in order.tax_lines %}
              <tr class="responsive-table-row  tw-border-t-0 tw-border-gray-300 tw-bg-white">
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-hidden md:tw-table-cell" colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-text-right" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
              </tr>
            {% endfor %}

            <tr class="responsive-table-row  tw-border-t-0 tw-border-gray-300 tw-rounded-b tw-bg-white">
              <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-font-bold tw-hidden md:tw-table-cell" colspan="4">{{ 'customer.order.total' | t }}</td>
              <td class="tw-py-2 tw-px-3 md:tw-border-gray-300 tw-font-bold tw-text-right" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money_with_currency }}</td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>

    <div class="address md:tw-w-1/4">

      <h3 class="tw-my-6 tw-text-xl md:tw-text-3xl">{{ 'customer.order.billing_address' | t }}</h3>
      <p class="tw-mb-4"><span class="tw-font-bold">{{ 'customer.order.payment_status' | t }}:</span> {{ order.financial_status_label }}</p>
      <div class="tw-bg-white tw-rounded tw-border tw-border-gray-300 tw-p-6">
        {{ order.billing_address | format_address }}
      </div>

      {% if order.shipping_address %}
        <h3 class="tw-my-6 tw-text-xl md:tw-text-3xl">{{ 'customer.order.shipping_address' | t }}</h3>
      {% endif %}
      <p class="{% unless order.shipping_address %} tw-my-6 {% else %} tw-mb-4 {% endunless %}"><span class="tw-font-bold">{{ 'customer.order.fulfillment_status' | t }}:</span> {{ order.fulfillment_status_label }}</p>
      {% if order.shipping_address %}
        <div class="tw-bg-white tw-rounded tw-border tw-border-gray-300 tw-p-6">
          {{ order.shipping_address | format_address }}
        </div>
      {% endif %}


    </div>
  </div>

</div>
