<div class="container form-reset-password">
  <div class="tw-w-full md:tw-w-1/2 tw-mx-auto">
    {%- assign formId = 'ResetPasswordForm' -%}
    {% form 'reset_customer_password', id: formId, class: 'tw-mb-12' %}

      <h1 class="tw-text-3xl md:tw-text-5xl tw-my-6 md:tw-my-10 text-center">{{ 'customer.reset_password.title' | t }}</h1>

      <p class="tw-text-center tw-mb-4">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {% render 'form-status', form: form, form_id: formId %}

      <div class="form-group">
        <label for="ResetPassword" class="sr-only">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="{{ formId }}-password"
          class="form-control rounded-pill {% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}"
          {%- if form.errors contains 'form' -%}
            aria-invalid="true"
          {%- endif -%}>
      </div>

      <div class="form-group">
        <label for="PasswordConfirmation" class="sr-only">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="{{ formId }}-password-confirmation"
          class="form-control rounded-pill {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          {%- if form.errors contains 'form' -%}
            aria-invalid="true"
          {%- endif -%}>
      </div>

      <button class="tw-btn tw-btn-primary tw-w-full tw-rounded-full tw-flex tw-justify-center tw-items-center tw-font-semibold tw-mb-4" type="submit">
        {{ 'customer.reset_password.submit' | t }}
        {% render 'icon-arrow-right' %}
      </button>

    {% endform %}
  </div>
</div>
