<!doctype html>

<html class="no-js {{ page_title | handle }} {{ template.name | handle }}-template" lang="{{ shop.locale }}">

  <head>

    <title>
      {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="{{ settings.btn_bg_color }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-social' %}

    {%- assign h16_font = settings.h16_font -%}
    {%- assign font = settings.font -%}
    {%- assign font_bolder = font | font_modify: 'weight', 'bolder' -%}
    {%- assign font_bold = font | font_modify: 'weight', 'bold' -%}
    {%- assign font_italic = font | font_modify: 'style', 'italic' -%}
    {%- assign font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}
    {%- assign announcement_font = settings.announcement_font -%}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    <link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}" type="text/css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'theme-vendor.css' | asset_url }}" type="text/css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'theme-custom.css' | asset_url }}" type="text/css" media="print" onload="this.media='all'">

    <noscript>
      <link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}" type="text/css" media="all">
      <link rel="stylesheet" href="{{ 'theme-vendor.css' | asset_url }}" type="text/css" media="all">
    </noscript>

    {% render 'css-variables' %}
    {% render 'initial-css' %}

    <style>
      {{ h16_font | font_face: font_display: 'swap' }}
      {{ font | font_face: font_display: 'swap' }}
      {{ font_bold | font_face: font_display: 'swap' }}
      {{ font_bolder | font_face: font_display: 'swap' }}
      {{ font_italic | font_face: font_display: 'swap' }}
      {{ font_bold_italic | font_face: font_display: 'swap' }}
      {{ announcement_font | font_face: font_display: 'swap' }}
    </style>

    {% render 'Avatar' %}


    {% render 'style-tags', layout: 'theme' %}
    {% render 'script-tags', layout: 'theme' %}

    <script src="{{ 'theme-custom.js' | asset_url }}" defer></script>
    {% render 'ie-css-var-poly' %}

    {{ content_for_header }}
  </head>

  <body>

    {% render 'spinner' %}

    <main>
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>

  </body>

</html>
