
<div data-section-id="{{ section.id }}" data-section-type="password-template">
  <header class="tw-flex tw-justify-end tw-mb-10 md:tw-mb-0">
    <div class="tw-mr-6 tw-mt-6">
      <a href="#Login" class="tw-btn tw-btn-secondary rounded-pill"aria-hidden="false" data-login-open>
        {{ 'general.password_page.password_link' | t }} <span aria-hidden="true"><ly-as-555377>&rarr;</ly-as-555377></span>
      </a>
      <a href="#" class="tw-block tw-mr-4 tw-mt-4 tw-hidden" aria-hidden="true" data-login-cancel>
        {% render 'icon-close' %}
      </a>
    </div>
  </header>

  <div class="container-md tw-min-h-screen d-flex tw-flex-col place-items-center tw-text-center">

    <div class="tw-w-full tw-mb-4">
      {% if section.settings.logo %}
        {% assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image" data-image-loading-placeholder>
          {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
          <img class="lazyload js tw-inline-block tw-w-full"
              data-src="{{ section.settings.logo | img_url: '1000x'  }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ logo_alt | escape }}"
              style="max-width: {{ section.settings.logo_max_width }}px">

          {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
          {% render 'noscript', tag: 'img', media: section.settings.logo, size: image_size %}
        </a>
      {% else %}
        <h1 class="tw-mb-3 font-1">
          <span class="logo">{{ shop.name }}</span>
        </h1>
      {% endif %}
    </div>

    <div class="newsletter__content tw-w-full md:tw-w-72" data-newsletter>

      <h2 class="tw-mb-16 font-3">{{ 'general.password_page.opening_soon' | t }}</h2>

      {% unless shop.password_message == blank %}
        <p class="text-center">{{ shop.password_message }}</p>
      {% endunless %}

      {% if section.settings.enable_signup %}
        {% form 'customer' %}
          {% assign formId = 'PasswordNewsletterForm' %}

          <h4 class="font-6 text-center mb-2">
            {{ 'general.password_page.signup_form_heading' | t }}
          </h4>

          {% if form.posted_successfully? %}
            <p class="tw-text-center tw-mx-auto tw-my-4 tw-px-3 tw-bg-green-200 tw-border-green-600 tw-border-2 tw-rounded tw-text-black" tabindex="-1">
              {{ 'general.password_page.signup_form_success' | t }}
            </p>
          {% endif %}

          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <div class="form-row">
            <div class="form-group w-100">
              <label for="{{ formId }}-email" class="tw-h-0 tw-m-0 tw-overflow-hidden">
                {{ 'general.password_page.signup_form_email_label' | t }}
              </label>
              <input type="email"
                name="contact[email]"
                id="{{ formId }}-email"
                class="form-control rounded-pill {% if form.errors %} tw-border tw-border-red-300{% endif %}"
                placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                  data-form-status
                {% endif %}
              >
            </div>
          </div>

          <button type="submit" name="commit" class="tw-btn tw-btn-primary rounded-pill tw-font-semibold w-100">
            {{ 'general.password_page.signup_form_submit' | t }}
          </button>

          {% if form.errors contains 'email' %}
            <span id="{{ formId }}-email-error" class="tw-block tw-mt-6 tw-text-red-400">
              <span class="sr-only">
                {{ 'general.accessibility.error' | t }}
              </span>
              <span>
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
              </span>
            </span>
          {% endif %}

        {% endform %}
      {% endif %}

      

    </div>

    <div class="password__entry tw-hidden" data-password-entry>
      <p>{{ 'general.password_page.login_form_heading' | t }}</p>

      {% form 'storefront_password' %}
        {% assign formId = 'PasswordLoginForm' %}
        <div class="form-row">
          <div class="form-group w-100">
            <label id="PasswordLabel" for="Password" class="tw-h-0 tw-m-0 tw-overflow-hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <input type="password" name="password"
              id="Password"
              data-password-field
              class="form-control rounded-pill{% if form.errors %} tw-border tw-border-red-300{% endif %}"
              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              autocomplete="off"
              aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
              {% if form.errors %}
                data-error="password"
                aria-invalid="true"
              {% endif %}
            >
          </div>

          <button type="submit" name="commit" class="tw-btn tw-btn-primary rounded-pill tw-font-semibold w-100">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>

        {% if form.errors %}
          <span id="{{ formId }}-password-error" class="tw-block tw-mt-6 tw-text-red-400">
            <span class="sr-only">
              {{ 'general.accessibility.error' | t }}
            </span>
            <span>{{ form.errors.messages['form'] }}</span>
          </span>
        {% endif %}
      {% endform %}

      <p class="tw-my-12">
        <span>{{ 'general.password_page.admin_link_html' | t }}</span>
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_signup",
      "label": "t:sections.main-password.settings.enable_signup.label",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password.settings.paragraph__1.content"
    },
    {
      "type": "header",
      "content": "t:sections.main-password.settings.header__1.content"
    },
    {
      "id": "logo",
      "type": "image_picker",
      "label": "t:sections.main-password.settings.image_picker.label"
    },
    {
      "id": "logo_max_width",
      "type": "range",
      "label": "t:sections.main-password.settings.logo_max_width.label",
      "min": 50,
      "max": 500,
      "step": 50,
      "unit": "t:sections.main-password.settings.logo_max_width.unit",
      "default": 300
    }
  ]
}
{% endschema %}
